<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codewinter.backgroundmanagement.dao.PaperDao">

    <resultMap id="PaperMap" type="Paper">
        <id column="id" property="id"></id>
        <result column="papername" property="paperName"></result>
        <result column="testtime" property="testTime"></result>
        <result column="duration" property="duration"></result>
        <result column="courseid" property="courseId"></result>
        <result column="status" property="status"></result>
        <result column="createtime" property="createTime"></result>
        <result column="updatetime" property="updateTime"></result>
    </resultMap>

    <select id="findPaperById" parameterType="java.lang.Long" resultMap="PaperMap">
      select id, papername, testtime, duration, courseid, totalscore, status, createtime, updatetime from t_paper where id=#{id}
    </select>

    <select id=" findPaperByName" parameterType="java.lang.String" resultMap="PaperMap">
      select id, papername, testtime, duration, courseid, totalscore, status, createtime, updatetime from t_paper where papername=#{paperName}
    </select>

    <select id="findPaper" parameterType="Paper" resultMap="PaperMap">
        select id, papername, testtime, duration, courseid, totalscore, status, creattime, updatetime from t_paper
        <where>
            <if test="id!=null">
                id=#{id},
            </if>
            <if test="testTime!=null">
                testtime=#{testTime},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="courseId!=null">
                courseid=#{courseId},
            </if>
            <if test="totalScore!=null">
                totalscore=#{totalScore},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="creatTime!=null">
                creattime=#{creatTime},
            </if>
            <if test="updateTime!=null">
                updatetime=#{updateTime},
            </if>
        </where>
    </select>

    <select id="findAllPapers" resultMap="PaperMap">
      select id, papername, testtime, duration, courseid, totalscore, status, createtime, updatetime from t_paper
    </select>

    <insert id="save" parameterType="Paper" useGeneratedKeys="true" keyProperty="id">
        insert into t_paper values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paperName!=null">
                papername=#{paperName},
            </if>
            <if test="testTime!=null">
                testtime=#{testTime},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="courseId!=null">
                courseid=#{courseId},
            </if>
            <if test="totalScore!=null">
                totalscore=#{totalScore},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="createTime!=null">
                createtime=#{createTime},
            </if>
            <if test="updateTime!=null">
                updatetime=#{updateTime},
            </if>
        </trim>
    </insert>

    <delete id="deletePaper" parameterType="Paper">
        delete from t_paper
        <where>
            <if test="paperName!=null">
                papername=#{paperName}
            </if>
            <if test="testTime!=null">
                AND testtime=#{testTime}
            </if>
            <if test="duration!=null">
                AND duration=#{duration}
             </if>
            <if test="courseId!=null">
                AND courseid=#{courseId}
            </if>
            <if test="totalScore!=null">
                AND totalscore=#{totalScore}
            </if>
            <if test="status!=null">
                AND status=#{status}
            </if>
            <if test="createTime!=null">
                AND createtime=#{createTime}
            </if>
            <if test="updateTime!=null">
                AND updatetime=#{updateTime}
            </if>
        </where>
    </delete>

    <update id="updatePaperById" parameterType="Paper" useGeneratedKeys="true" keyProperty="id">
      update t_paper
      <set>
         <if test="paperName!=null">
             papername=#{paperName},
         </if>
          <if test="testTime!=null">
              testtime=#{testTime},
          </if>
          <if test="duration!=null">
              duration!=#{duration},
          </if>
          <if test="courseId!=null">
              courseid=#{courseId},
          </if>
          <if test="totalScore!=null">
              totalscore=#{totalScore},
          </if>
          <if test="status!=null">
              status=#{status},
          </if>
          <if test="createTime!=null">
              createtime=#{createTime},
          </if>
          <if test="updateTime!=null">
              updateTime=#{updateTime},
          </if>
      </set>
      where id=#{id}
    </update>

</mapper>